{{block "head".}}

    <!-- variables -->
    {{$seo := .seo}}

    <!-- meta -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="{{if $seo.desc }} {{$seo.desc }} {{end}}">
        <meta name="Keywords" content="{{if $seo.keys }} {{$seo.keys}} {{end}}">
        <meta name="robots" content="{{if $seo.robot}} {{$seo.robot}} {{end}}">
        <link rel="stylesheet" href="/static/admin/css/core.css?v={{random}}">
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
        <script src="/static/admin/js/core.js?v={{random}}"></script>
        <title>admin side</title>
    </head>
    <body>


{{end}}