{{block "head".}}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/core.css?v={{random}}">
        <link href="/static/fw/fontawesome512/css/all.css" rel="stylesheet"> <!--load all styles -->
        <link href="/static/fw/bulma/css/bulma.css" rel="stylesheet"> <!--bulma FW -->
        <script src="/static/js/core.js"></script>
        <script src="/static/admin/js/bulma-support.js?v={{random}}"></script>
        <script defer src="/static/fw/fontawesome512/js/all.js"></script> <!--load all styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <title>Title</title>
    </head>
{{end}}


{{block "footer".}}
    footer there
{{end}}