<!--------[ INSERT ]------------------------------------------------------------------------------------------->
{{$p := .TEXT.request.routepatern}}
{{$m := .TEXT.request.routemethod}}
{{$fn:= .DATA.fn}}
{{$command := .DATA.params.command }}
{{$id := .DATA.params.id }}
{{$flash := .FLASH}}
{{$user := .DATA.stock.user}}
{{$flasher := .DATA.stock.flasher}}

{{$root := makemap "/" "/article/page/{id}" }}
{{$login := makemap "/login/adminka" "/login"}}
{{$loginfiles := makemap "/files/{command}" "/files/{command}/{id}" "/files/{command}/{id}/{social}" }}
{{$fil := makemap "/files" "/files/{command}" "/files/{command}/{id}" "/files/{command}/{id}/{social}" }}
<!--------[ INSERT.END ]------------------------------------------------------------------------------------------->


<!DOCTYPE html>
<!-- head -->
{{block "head".}}{{end}}
<body>


<h2>site here</h2>
<hr>



</body>
<!-- footer -->
{{block "footer".}}{{end}}
</html>
